---
http_interactions:
- request:
    method: post
    uri: https://api-test.wirecard.com/engine/rest/paymentmethods/
    body:
      encoding: UTF-8
      string: |+
        <payment xmlns="http://www.elastic-payments.com/schema/payment">
          <merchant-account-id>4c901196-eff7-411e-82a3-5ef6b6860d64</merchant-account-id>
          <request-id>6a0c613f-2dcd-4669-9fdf-23e47b29181b</request-id>
          <transaction-type>debit</transaction-type>
          <requested-amount currency="EUR">15.00</requested-amount>
          <account-holder>
            <first-name>Bob</first-name>
            <last-name>Hawk</last-name>
          </account-holder>
          <order-number>666</order-number>
          <payment-methods>
            <payment-method name="sepadirectdebit" />
          </payment-methods>
          <bank-account>
            <iban>DE42512308000000060004</iban>
            <bic>WIREDEMMXXX</bic>
          </bank-account>
          <mandate>
            <mandate-id>2356789</mandate-id>
            <signed-date>2013-08-11</signed-date>
          </mandate>
          <creditor-id>DE98ZZZ09999999999</creditor-id>
          <periodic>
            <periodic-type>recurring</periodic-type>
            <sequence-type>first</sequence-type>
          </periodic>
        </payment>

    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><payment xmlns="http://www.elastic-payments.com/schema/payment"><merchant-account-id>4c901196-eff7-411e-82a3-5ef6b6860d64</merchant-account-id><transaction-id>55b7c66a-c5b5-11e5-b3b3-005056a96a54</transaction-id><request-id>6a0c613f-2dcd-4669-9fdf-23e47b29181b</request-id><transaction-type>debit</transaction-type><transaction-state>success</transaction-state><completion-time-stamp>2016-01-28T11:50:32.000Z</completion-time-stamp><statuses><status
        code="201.0000" description="The resource was successfully created." severity="information"/></statuses><requested-amount
        currency="EUR">15.00</requested-amount><account-holder><first-name>Bob</first-name><last-name>Hawk</last-name></account-holder><order-number>666</order-number><payment-methods><payment-method
        name="sepadirectdebit"/></payment-methods><bank-account><iban>DE42512308000000060004</iban><bic>WIREDEMMXXX</bic></bank-account><mandate><mandate-id>2356789</mandate-id><signed-date>2013-08-11</signed-date></mandate><creditor-id>DE98ZZZ09999999999</creditor-id><due-date>2016-02-02</due-date><periodic><periodic-type>recurring</periodic-type><sequence-type>first</sequence-type></periodic><provider-transaction-reference-id>CE35117914</provider-transaction-reference-id></payment>
      effective_url: https://api-test.wirecard.com/engine/rest/paymentmethods/
  recorded_at: Thu, 28 Jan 2016 11:50:32 GMT
[...]
