---
http_interactions:
- request:
    method: post
    uri: https://api-test.wirecard.com/engine/rest/paymentmethods/
    body:
      encoding: UTF-8
      string: |
        <payment xmlns="http://www.elastic-payments.com/schema/payment">
          <merchant-account-id>4c901196-eff7-411e-82a3-5ef6b6860d64</merchant-account-id>
          <request-id>fdffd13c-8fb7-4aac-9bfe-1c82d8b1fe91</request-id>
          <transaction-type>debit</transaction-type>
          <parent-transaction-id>e8f7b248-350d-11e5-b074-005056a96a54</parent-transaction-id>
          <payment-methods>
            <payment-method name="sepadirectdebit" />
          </payment-methods>
          <periodic>
            <periodic-type>recurring</periodic-type>
            <sequence-type>recurring</sequence-type>
          </periodic>
        </payment>
    headers:
      Content-Type:
      - application/xml
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/xml;charset=UTF-8
      Content-Language:
      - en-US
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><payment xmlns="http://www.elastic-payments.com/schema/payment"><merchant-account-id>4c901196-eff7-411e-82a3-5ef6b6860d64</merchant-account-id><transaction-id>e9478066-350d-11e5-b074-005056a96a54</transaction-id><request-id>fdffd13c-8fb7-4aac-9bfe-1c82d8b1fe91</request-id><transaction-type>debit</transaction-type><transaction-state>success</transaction-state><completion-time-stamp>2015-07-28T09:49:17.000Z</completion-time-stamp><statuses><status
        code="201.0000" description="The resource was successfully created." severity="information"/></statuses><requested-amount
        currency="EUR">15.00</requested-amount><parent-transaction-id>e8f7b248-350d-11e5-b074-005056a96a54</parent-transaction-id><account-holder><first-name>Bob</first-name><last-name>Hawk</last-name></account-holder><order-number>666</order-number><payment-methods><payment-method
        name="sepadirectdebit"/></payment-methods><bank-account><iban>DE42512308000000060004</iban><bic>WIREDEMMXXX</bic></bank-account><mandate><mandate-id>2356789</mandate-id><signed-date>2013-08-11T00:00:00.000Z</signed-date></mandate><creditor-id>DE00000000000000000000</creditor-id><api-id>---</api-id><due-date>2015-07-31</due-date><periodic><periodic-type>recurring</periodic-type><sequence-type>recurring</sequence-type></periodic><provider-transaction-reference-id>D73B657F3D</provider-transaction-reference-id></payment>
      effective_url: https://api-test.wirecard.com/engine/rest/paymentmethods/
  recorded_at: Tue, 28 Jul 2015 09:49:17 GMT
recorded_with: VCR 2.9.3
